.Project-container {
    width: 90vw;
    height:1350px;
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   padding-bottom: 15px;
   background-color: #0d1117ee;
    color: white;
}

.Project-ContainerChild {
    width: 95%;
   height: 95%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3%;
}
.project-card {
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 height: 100%;
 border-radius: 20px;
 border: 2px solid teal;
}
.project-card > div {
    border-top: 1px solid rgba(128, 128, 128, 0.592);
    width: 100%;
    display: flex;
    align-items: center;
}
.project-card button {
    margin-right:10px ;
}
.Project-image {
    height: 60%;
}
.Project-image img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.Project-image ~ div {
    height: 9%;
}
.project-tech-stack{
    display: flex;
    align-items: center;
    gap: 2%;
}
.project-tech-stack img {
    width:40px;
    height: 70%;
}
.project-github-link,.project-deployed-link {
    background-color: teal;
    color: white;
}
.project-github-link:hover,.project-deployed-link:hover {
cursor: pointer;
}
@media only screen and (max-width:650px) {
    .Project-container  {
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .Project-ContainerChild {
        grid-template-columns: repeat(1,1fr);
        gap: 25px;
        height: 100%;
    }
    .project-card h3{
        font-size: 14px;
    }
}